[core]
  editor = vi
  excludesfile = ~/.gitignore
  pager = "diff-so-fancy | cat"

[user]
  name = Jean-Marc Fontaine
  email =

[alias]
  ci   = commit
  co   = checkout
  cp   = cherry-pick
  lg   = log --pretty=tformat:'%Cred%h%Creset %cr - %C(bold)%s%Creset %C(yellow)%d%Creset %Cgreen(%aN)%Creset' --date=relative
  oops = reset HEAD^ --soft
  st   = status
  wip  = !git add -A && git commit -m 'WIP'

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[branch]
  autosetuprebase = always

[color]
  ui = true

[diff]
  algorithm = minimal
  compactionHeuristic = true
  renames = true

[difftool]
  prompt = false

[merge]
  tool = Kaleidoscope

[mergetool]
  keepBackup = true
  prompt = false

[push]
  default = current

[rerere]
  enabled = true

[status]
	showUntrackedFiles = all
