cask_args require_sha: true

tap "minamijoyo/tfupdate"

brew "act"                                           # GitHub Actions local runner
brew "antidote"                                      # Plugin manager for zsh
brew "awscli"                                        # AWS CLI
brew "bat"                                           # Modern replacement for cat
brew "chezmoi"                                       # dotfiles manager
brew "chromaprint"                                   # Audio fingerprinting
brew "copier"                                        # Project templates renderer
brew "coreutils"                                     # GNU File, Shell, and Text utilities
brew "diff-so-fancy"                                 # Nice looking git diff
brew "direnv"                                        # Load/unload environment variables based on $PWD
brew "dockutil"                                      # macOS dock manager
brew "doggo"                                         # Modern replacement for dig
brew "eza"                                           # Modern replacement for ls
brew "git"                                           # Distributed revision control system
brew "htop"                                          # Interactive process viewer
brew "httpie"                                        # CLI HTTP client
brew "just"                                          # Command runner
brew "mas"                                           # Mac App Store command-line interface
brew "minamijoyo/tfupdate/tfupdate"                  # Terraform/OpenTofu version update
brew "node"                                          # Javascript runtime
brew "opentofu"                                      # Infrastructure as Code tool
brew "postgresql@17"                                 # Database engine
brew "pre-commit"                                    # QA tool for Git repositories
brew "pure"                                          # zsh prompt
brew "uv"                                            # Python package installer and resolver
brew "yt-dlp"                                        # CLI audio/video downloader
brew "zsh"                                           # Shell

cask "1password-cli"                                 # 1Password command-line interface
cask "1password"                                     # Password manager
cask "ableton-live-suite@11"                         # Digital Audio Workstation (DAW)
cask "akiflow"                                       # Time blocking and productivity platform
cask "appcleaner"                                    # Application uninstaller
cask "backblaze"                                     # Data backup and storage service
cask "bartender"                                     # Menu bar icon organizer
cask "bruno"                                         # API explorer
cask "chatgpt"                                       # AI chatbot
cask "claude"                                        # Claude AI desktop app
cask "cleanshot"                                     # Screen capture
cask "djstudio"                                      # DAW for DJs
cask "font-monaspice-nerd-font"                      # Monaspice Nerd Font families (Monaspace)
cask "ghostty"                                       # Terminal emulator
cask "google-chrome", args: { require_sha: false }   # Web browser
cask "languagetool-desktop"                          # Style and grammar checker
cask "mixed-in-key"                                  # Harmonic mixing for DJs and music producers
cask "nordvpn", args: { require_sha: false }         # VPN client
cask "notion"                                        # Content management and productivity platform
cask "orbstack"                                      # Docker Desktop replacement
cask "paulxstretch"                                  # Extreme audio time stretching
cask "roon", args: { require_sha: false }            # Music player
cask "send-to-kindle", args: { require_sha: false }  # Tool for sending personal documents to Kindles
cask "slack"                                         # Team communication and collaboration software
cask "visual-studio-code"                            # Code editor
cask "vlc"                                           # Media player

mas "Amazon Kindle", id: 302584613                   # eBooks reader
mas "WhatsApp Messenger", id:310633997               # WhatsApp client
