cask_args require_sha: true

tap "jandedobbeleer/oh-my-posh"
{{ if eq .computerName "Minerva" }}tap "spacelift-io/spacelift"{{ end }}

{{ if eq .machineType "laptop" }}brew "act"                                             # GitHub Actions local runner{{ end }}
brew "antidote"                                      # Plugin manager for zsh
{{ if eq .computerName "Mercure" }}brew "awscli"                                        # AWS CLI{{ end }}
brew "chezmoi"                                       # dotfiles manager
{{ if eq .computerName "Mercure" }}brew "chromaprint"                                   # Audio fingerprinting{{ end }}
{{ if eq .computerName "Mercure" }}brew "copier"                                        # Project templates renderer{{ end }}
brew "coreutils"                                     # GNU File, Shell, and Text utilities
{{ if eq .computerName "Mercure" }}brew "datasette"                                     # Tool for exploring and publishing data{{ end }}
{{ if eq .computerName "Mercure" }}brew "direnv"                                        # Load/unload environment variables based on $PWD{{ end }}
brew "dockutil"                                      # macOS dock manager
{{ if eq .machineType "laptop" }}brew "git"                                           # Distributed revision control system{{ end }}
{{ if eq .computerName "Mercure" }}brew "llm"                                           # Access large language models from the command-line{{ end }}
brew "mas"                                           # Mac App Store command-line interface
{{ if eq .machineType "laptop" }}brew "node"                                          # Javascript runtime{{ end }}
brew "oh-my-posh"                                    # Prompt theme engine
{{ if eq .machineType "laptop" }}brew "opentofu"                                        # Infrastructure as Code tool{{ end }}
{{ if eq .computerName "Minerva" }}brew "spacelift-io/spacelift/spacectl"               # Spacelift API client{{ end }}
{{ if eq .computerName "Mercure" }}brew "sqlite-utils"                                  # CLI utility for manipulating SQLite databases{{ end }}
brew "uv"                                            # Python package installer and resolver
{{ if eq .computerName "Mercure" }}brew "yt-dlp"                                        # CLI audio/video downloader{{ end }}

{{ if eq .computerName "Mercure" }}cask "ableton-live-suite@11"                         # Digital Audio Workstation (DAW){{ end }}
cask "1password"                                     # Password manager
{{ if eq .machineType "laptop" }}cask "1password-cli"                                 # 1Password command-line interface{{ end }}
{{ if ne .computerName "Jupiter" }}cask "akiflow"                                       # Time blocking and productivity platform{{ end }}
cask "appcleaner"                                    # Application uninstaller
cask "bartender"                                     # Menu bar icon organizer
{{ if .personalMachine }}cask "backblaze"                                     # Data backup and storage service{{ end }}
{{ if eq .machineType "laptop" }}cask "bruno"                                         # API explorer{{ end }}
{{ if eq .machineType "laptop" }}cask "chatgpt"                                       # AI chatbot{{ end }}
{{ if eq .machineType "laptop" }}cask "claude"                                        # Claude AI desktop app{{ end }}
{{ if eq .machineType "laptop" }}cask "cleanshot"                                     # Screen capture{{ end }}
cask "cursor"                                        # AI Code editor
{{ if eq .computerName "Minerva" }}cask "clickup"                                       # Task manager{{ end }}
{{ if eq .computerName "Mercure" }}cask "db-browser-for-sqlite"                         # Browser for SQLite databases{{ end }}
{{ if eq .computerName "Mercure" }}cask "djstudio"                                      # DAW for DJs{{ end }}
cask "font-monaspace-nerd-font"                      # Monaspice Nerd Font families (Monaspace)
cask "ghostty"                                       # Terminal emulator
{{ if eq .computerName "Jupiter" }}cask "jaikoz", args: { require_sha: false }          # Audio tag editor{{ end }}
cask "languagetool"                                  # Style and grammar checker
{{ if eq .computerName "Minerva" }}cask "granola"                                     # AI-powered notepad for meetings{{ end }}
{{ if eq .computerName "Minerva" }}cask "logitune"                                      # Webcam configuration manager{{ end }}
{{ if eq .machineType "laptop" }}cask "meetingbar"                                    # Shows the next meeting in the menu bar{{ end }}
{{ if eq .computerName "Mercure" }}cask "mixed-in-key"                                  # Harmonic mixing for DJs and music producers{{ end }}
{{ if eq .computerName "Minerva" }}cask "microsoft-teams"                               # Team communication and collaboration software{{ end }}
{{ if eq .computerName "Mercure" }}cask "nordvpn", args: { require_sha: false }         # VPN client{{ end }}
cask "notion"                                        # Content management and productivity platform
cask "orbstack"                                      # Docker Desktop replacement
{{ if eq .computerName "Mercure" }}cask "paulxstretch"                                  # Extreme audio time stretching{{ end }}
cask "raycast"                                       # Application and command launcher
cask "roon", args: { require_sha: false }            # Music player
{{ if eq .computerName "Mercure" }}cask "send-to-kindle", args: { require_sha: false }  # Tool for sending personal documents to Kindles{{ end }}
{{ if eq .machineType "laptop" }}cask "slack"                                         # Team communication and collaboration software{{ end }}
{{ if eq .computerName "Minerva" }}cask "tailscale"                                     # VPN client{{ end }}
cask "visual-studio-code"                            # Code editor
{{ if .personalMachine }}cask "vlc"                                           # Media player{{ end }}
{{ if eq .computerName "Jupiter" }}cask "xact"                                          # Audio Compression Toolkit{{ end }}
{{ if eq .computerName "Jupiter" }}cask "xld"                                           # Lossless audio decoder{{ end }}
{{ if eq .computerName "Minerva" }}cask "zoom"                                          # Team communication and collaboration software{{ end }}


{{ if eq .computerName "Mercure" }}mas "1Password for Safari", id:1569813296            # Password manager{{ end }}
{{ if eq .machineType "laptop" }}mas "Amazon Kindle", id: 302584613                   # eBooks reader{{ end }}
{{ if eq .computerName "Jupiter" }}mas "Amphetamine", id:937984704                      # Keep computer awake{{ end }}
{{ if eq .computerName "Mercure" }}mas "Spark Classic - Email App", id: 1176895641      # Email client{{ end }}
{{ if eq .computerName "Mercure" }}mas "WhatsApp Messenger", id:310633997               # WhatsApp Client{{ end }}
