### zsh path (must be first)
path=(
    $(brew --prefix)/opt/coreutils/libexec/gnubin # Use GNU commands instead of macOS ones
    $HOME/.codeium/windsurf/bin                   # Windsurf
    $path
)

# Use Windsurf as editor
export EDITOR="windsurf --new-window --wait"

# antidote
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
antidote load

# Have zsh-autosuggestions suggest zsh-abbr's abbreviation
ZSH_AUTOSUGGEST_STRATEGY=( abbreviations $ZSH_AUTOSUGGEST_STRATEGY )

# Oh My Posh
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/jmf.omp.yaml)"

# Disable Homebrew hints
export HOMEBREW_NO_ENV_HINTS=1

{{ if eq .computerName "Mercure" }}
# direnv
eval "$(direnv hook zsh)"
{{ end }}