[commit]
  gpgsign = true

[core]
  pager = "diff-so-fancy"

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = /Users/jmf/.ssh/allowed_signers
  program            = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[init]
  defaultBranch = main

[interactive]
  diffFilter = "diff-so-fancy --patch"

[push]
  autoSetupRemote = true

[tag]
  gpgsign = true

[user]
  email      = jmf@spacelift.io
  name       = Jean-Marc Fontaine
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMDTH3YA8M/HDpQwH2TS6oj2JaFT7QDaTk/agLW1O6rq