### zsh path (must be first)
path=(
    $(brew --prefix)/opt/coreutils/libexec/gnubin # Use GNU commands instead of macOS ones
    $(brew --prefix)/share/zsh/site-functions     # Let zsh know about Homebrew-managed completion scripts
    $path
)

# Use VS Code as editor
export EDITOR="code --new-window --wait"

{{ if eq .computerName "Mercure" }}
path=(
    ~/.ghcup/bin                     # Haskell GHCup-managed commands
    $(ghcup whereis --directory ghc) # Haskell ghc
    $path
)
{{ end }}

# antidote
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
antidote load

# Have zsh-autosuggestions suggest zsh-abbr's abbreviation
ZSH_AUTOSUGGEST_STRATEGY=( abbreviations $ZSH_AUTOSUGGEST_STRATEGY )

# Oh My Posh
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/jmf.omp.yaml)"

# Disable Homebrew hints
export HOMEBREW_NO_ENV_HINTS=1

{{ if eq .computerName "Mercure" }}
# direnv
eval "$(direnv hook zsh)"

# 1Password
op signin --account {{ .onePasswordAccountId }}

## jj
source <(COMPLETE=zsh jj)
{{ end }}