cask_args require_sha: true

tap "minamijoyo/tfupdate"
tap "spacelift-io/spacelift"

brew "act"                                           # GitHub Actions local runner
brew "antidote"                                      # Plugin manager for zsh
brew "awscli"                                        # AWS CLI
brew "bat"                                           # Modern replacement for cat
brew "chezmoi"                                       # dotfiles manager
brew "coreutils"                                     # GNU File, Shell, and Text utilities
brew "curl"                                          # CLI HTTP client
brew "diff-so-fancy"                                 # Nice looking git diff
brew "dockutil"                                      # macOS dock manager
brew "eza"                                           # Modern replacement for ls
brew "gh"                                            # GitHub CLI
brew "git"                                           # Distributed revision control system
brew "httpie"                                        # CLI HTTP client
brew "just"                                          # Command runner
brew "mas"                                           # Mac App Store command-line interface
brew "minamijoyo/tfupdate/tfupdate"                  # Terraform/OpenTofu version update
brew "node"                                          # Javascript runtime
brew "opentofu"                                      # Infrastructure as Code tool
brew "pre-commit"                                    # QA tool for Git repositories
brew "pure"                                          # zsh prompt
brew "spacelift-io/spacelift/spacectl"               # Spacelift API client
brew "uv"                                            # Python package installer and resolver
brew "zsh"                                           # Shell


cask "1password-cli"                                 # 1Password command-line interface
cask "1password"                                     # Password manager
cask "appcleaner"                                    # Application uninstaller
cask "bartender"                                     # Menu bar icon organizer
cask "bruno"                                         # API explorer
cask "chatgpt"                                       # AI chatbot
cask "claude"                                        # Claude AI desktop app
cask "cleanshot"                                     # Screen capture
cask "clickup"                                       # Task manager
cask "font-monaspice-nerd-font"                      # Monaspice Nerd Font families (Monaspace)
cask "ghostty"                                       # Terminal emulator
cask "google-chrome", args: { require_sha: false }   # Web browser
cask "granola"                                       # AI-powered notepad for meetings
cask "languagetool-desktop"                          # Style and grammar checker
cask "logitune"                                      # Webcam configuration manager
cask "meetingbar"                                    # Shows the next meeting in the menu bar
cask "microsoft-teams"                               # Team communication and collaboration software
cask "notion"                                        # Content management and productivity platform
cask "orbstack"                                      # Docker Desktop replacement
cask "roon", args: { require_sha: false }            # Music player
cask "slack"                                         # Team communication and collaboration software
cask "tailscale-app"                                 # VPN client
cask "visual-studio-code"                            # Code editor
cask "zoom"                                          # Team communication and collaboration software