{{ $extensions := list
    "ms-python.vscode-pylance"
    "astro-build.astro-vscode"
    "aaron-bond.better-comments"
    "bruno-api-client.bruno"
    "anthropic.claude-code"
    "streetsidesoftware.code-spell-checker"
    "kamikillerto.vscode-colorize"
    "usernamehw.errorlens"
    "tamasfe.even-better-toml"
    "github.vscode-github-actions"
    "hashicorp.terraform"
    "monokai.theme-monokai-pro-vscode"
    "christian-kohler.npm-intellisense"
    "esbenp.prettier-vscode"
    "inferrinizzard.prettier-sql-vscode"
    "ms-python.python"
    "ms-python.debugpy"
    "mechatroner.rainbow-csv"
    "charliermarsh.ruff"
    "tyriar.sort-lines"
    "mtxr.sqltools"
    "mtxr.sqltools-driver-pg"
    "bradlc.vscode-tailwindcss"
    "nefrobot.vscode-just-syntax"
    "redhat.vscode-xml"
    "redhat.vscode-yaml"
-}}

#!/bin/sh

{{ range $extensions -}}
code --force --install-extension {{ . | quote }}
{{ end -}}